<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Timeline</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/posts/styles.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="background: rgb(234,226,226);">
    
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#"><b>@<%=user.username%></b></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/post">Timeline</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <%let j=0,k=0%>
    <%let i=0%>    
    <%post.reverse();profilepic.reverse();by.reverse()%>
    <%post.forEach(ele=>{%>
    <div>        
        <div class="container">        
            <div class="row">
                <%if(k==0){%>
                <div class="col-md-4" style="background: #fef2f2;padding: 11px;text-align: center;width: 100%;height: 100%;max-width: 20%;">
                    <div></div>
                    <p style="padding: 4px;text-align: center;font-weight: bolder;">@<%=user.username%></p>
                    <hr>
                    <p>Followers: <%=user.followers.length%></p>
                    <p>Following: <%=user.following.length%></p>
                    <hr><button class="btn btn-primary" type="button" style="text-align: center;padding: 5px;">Follow Users</button></div>
                    <%k++%>
                    <%}else{%>
                        <div class="col-md-4" style="padding: 11px;text-align: center;width: 100%;height: 100%;max-width: 20%;">
                            <div></div>
                            <p style="padding: 4px;text-align: center;"></p>
                            <hr>
                            <p></p>
                            <p></p>
                        </div>    
                    <%}%>
                    <div class="col-md-4" style="max-width: 64%;width: 60%;min-width: 60%;text-align: center;background: #ffffff;margin: 0px;margin-left: 3%;margin-right: 3%; margin-bottom: 5%;">
                    <div class="row" style="background: #d7c5c5;">
                        <div class="col-md-4" style="max-width: 20%;text-align: right;margin-top: 16px;margin-bottom: -17px;margin-left: -45px;"><img src="data:image/png;base64,<%=profilepic[i].profilephoto%>" style="width: 42%;height: 61%;"></div>
                        <div class="col" style="text-align: left;margin-top: 9px;margin-bottom: -7px;">
                            <p style="text-align: left;font-size: 17px;"><%=by[i].name%><%i++%></p>
                            <p style="margin-bottom: 33px;margin-top: -16px;font-size: 13px;text-align: left;color: rgb(101,119,136);">&nbsp;16:00 23rd September</p>
                        </div>
                    </div>
                    <p style="text-align: left;"><%=ele.post%>&nbsp;<br></p>
                    <hr>
                    <%if(ele.photo!=null){%>
                    <img class="img-fluid" src="data:image/png;base64,<%=ele.photo%>" style="width: 237px;height: 248px;text-align: center;margin-top: 7px;margin-bottom: 10px;">
                    <%}%>
                    <div style="margin:1%;text-align: left;" id="<%=ele._id%>">👍<%=ele.likes.length%></div>
                    <div style="margin:1%;text-align: left;" id="c<%=ele._id%>"><a href="/comments/<%=ele._id%>">💬<%=ele.comments.length%></a></div>
                    <script>
                        document.getElementById('<%=ele._id%>').onclick = function()  {  
                            document.getElementById('<%=ele._id%>').innerText = "👍<%=ele.likes.length+1%>"   
                            $.post('/likepost/<%=ele._id%>', function(data, status){   
                            })
                            document.getElementById('<%=ele._id%>').onclick= ()=>{
                                document.getElementById('<%=ele._id%>').innerText = "👍<%=ele.likes.length%>"
                                $.post('/removelike/<%=ele._id%>', function(data, status){
                                })
                            }
                        }
                    </script>
            </div>
            <br><br> 
                <%if(j==0){%>
                <div class="col" style="background: #ffffff;">
                    <div></div>
                    <p><strong>Friends</strong></p>
                    <hr>
                    <p style="margin-bottom: -7px;margin-top: -7px;">@user1</p>
                    <hr>
                    <p style="margin-bottom: -7px;margin-top: -7px;">@user2</p>
                    <hr>
                    <p style="margin-bottom: -7px;margin-top: -7px;">@user3</p>
                    <hr>
                    <p style="margin-bottom: -7px;margin-top: -7px;">@user4</p>
                    <hr>
                    <p style="margin-bottom: -7px;margin-top: -7px;">@user5</p>
                </div>
                <br><br>
                <%j++;%>
            <%}else{%>
                <div class="col" style="width: 100%;height: 100%;">
                    <div></div>
                    <p></p>
                    <p></p>
                </div>
            <%}%>
                <br><br>
                
                
            </div>
        </div>
    
    </div>
    <%})%>
    <center>
        <form action="/post" method="POST" enctype="multipart/form-data">
           
            <br><br><br><div style="font-family: lucida console; font-size: 1.5vw; font-weight: bolder;">Create Post</div><br><br>
            Post:<br><textarea name="post" rows="10" cols="70"></textarea><br><br>
            Upload Image: &nbsp&nbsp<input type ="file" name="postphoto" id="inp" ><br><br>
            <input type='submit' value="Post">
        </form>
    </center>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>